
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding : 150px;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    font-size: 60px;
    width: 25%;
    color: red;
}

button{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 40px;
    padding: 10px 30px;
    font-size: 20px;
}
.panel{
    position: absolute;
    width: 55%;
    height: 100%;
    bottom: 0;
    right: 0;
    background: #EAEAEA;
    padding: 15% 5%;
    transform: scaleY(0);
    transform-origin: bottom;
}
.panel img{
    width: 120px;
    float: left;
    margin-right: 50px;
    opacity: 0;
    transform: translateY(-200px);
}
.panel p{
    font-size: 23px;
    width: 80%;
    opacity: 0;

}
.panel .box{
    border: 5px solid lightgray;
    width: 65%;
    height: 50%;
    position: absolute;
    left: -7%;
    top: 15%;
    transform: scale(0);
    opacity: 0;
    z-index: -1;
}